@charset "UTF-8";
.title {
  color: #ffffff;
  font-size: 4.5rem;
  font-family: Yanone Kaffeesatz;
  font-weight: 700;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .title {
      white-space: inherit; } }
  @media screen and (max-width: 375px) {
    .title {
      font-size: 3.75rem; } }

.subtitle {
  font-family: Yanone Kaffeesatz;
  font-weight: 700;
  font-size: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .subtitle {
      margin-bottom: 0;
      margin-top: 0.625rem; } }
  @media screen and (max-width: 375px) {
    .subtitle {
      font-size: 1.5625rem; } }

.description {
  font-family: Yanone Kaffeesatz;
  color: white;
  font-weight: 300;
  font-size: 1.875rem;
  text-align: justify; }

.navigation {
  color: #555;
  font-family: Yanone Kaffeesatz;
  font-weight: 400;
  font-size: 1.5625rem; }
  @media screen and (max-width: 1200px) {
    .navigation {
      font-size: 1.875rem; } }
  @media screen and (max-width: 375px) {
    .navigation {
      font-size: 0.9375rem; } }

.footer__description {
  color: #555;
  font-size: 1rem;
  line-height: 0.9; }

.text--black {
  color: #555; }

.btn {
  font-weight: 400;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid #fff;
  padding: 0.625rem 1rem;
  font-size: 1.5625rem;
  line-height: 1.33;
  border-radius: 6px;
  text-decoration: none; }
  @media screen and (max-width: 480px) {
    .btn {
      margin: 0; } }

.btn:hover, .btn:focus {
  color: #555;
  background-color: #fff;
  outline: 0px;
  border: 1px solid #fff; }

.btn__portfolio {
  padding: 10px 5px;
  font-size: 10px;
  line-height: 1.33;
  border-radius: 6px;
  text-decoration: none; }
  @media screen and (max-width: 480px) {
    .btn__portfolio {
      font-size: 0.9375rem; } }

.button {
  font-size: 0.8125rem;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 2rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button:hover {
    background-color: #f2f2f2; }

.button--delivery {
  cursor: pointer; }

html, body {
  height: 100%; }

body {
  /*font-size: rem(16px);
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.42;
    position: relative;
    color: #2f3234;*/
  padding: 0;
  margin: 0; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  height: 100%;
  min-height: 40.625rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  @media screen and (max-width: 768px) {
    .container {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      min-height: 0rem; } }
  @media screen and (max-width: 480px) {
    .container {
      min-height: 0rem; } }
  @media screen and (max-width: 375px) {
    .container {
      min-height: 0rem; } }

.section {
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .section {
      height: initial; } }

.content {
  margin: 0 auto;
  width: 95%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

.menu-phone {
  display: none;
  z-index: 1; }

.menu-phone__wrapper {
  background-color: #71c9d6;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .menu-phone__wrapper {
      z-index: 99; } }

.menu-phone__logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.25rem;
  margin-left: 1.5625rem; }

.menu-phone__img {
  max-height: 100%;
  max-width: 100%; }

.menu-phone__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }

.menu-phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .menu-phone__item:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    background: #fff;
    margin: 0.9375rem 0; }
  .menu-phone__item:last-child::after {
    display: none; }
  .menu-phone__item:hover {
    text-decoration: underline; }

.menu-phone__close {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 15px;
  height: 15px;
  cursor: pointer; }

.menu-phone__close:before, .menu-phone__close:after {
  position: absolute;
  right: 40px;
  top: 0;
  content: ' ';
  height: 23px;
  width: 4px;
  background-color: white;
  border-radius: 0.625rem; }

.menu-phone__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-phone__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-phone__link {
  font-family: Yanone Kaffeesatz;
  font-weight: 400;
  font-size: 1.5rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  white-space: pre;
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.header {
  padding: 0.625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  @media screen and (max-width: 1200px) {
    .header {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .header {
      display: none; } }

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .header__btns {
      background-color: #71c9d6;
      opacity: 0.8;
      position: fixed;
      right: 0;
      left: 0;
      z-index: 90;
      padding: 0.625rem; } }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .header__links {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header__links {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right; }
  @media screen and (max-width: 1200px) {
    .header__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    margin: 0 1.5rem; }
  .nav__item:last-child {
    margin-right: 0rem; }
    .nav__item:last-child:after {
      display: none; }

.nav__link {
  white-space: pre;
  text-transform: uppercase;
  text-decoration: none; }
  .nav__link:hover {
    font-weight: 700;
    color: #71c9d6; }
  .nav__link:before {
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block; }

/*меню для планшетов и телефонов*/
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1200px) {
    .header__logo {
      margin-left: 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .header__logo {
      margin-left: 1.25rem; } }

.menu-link {
  display: none; }
  @media screen and (max-width: 1200px) {
    .menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      vertical-align: middle;
      position: relative;
      height: 1.375rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 1.875rem;
      margin-right: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      vertical-align: middle;
      position: relative;
      height: 1.375rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 1.875rem;
      margin-right: 1.5rem; } }

.menu-link__bars, .menu-link__bars:before, .menu-link__bars:after {
  background: #555;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.menu-link__bars:before, .menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.menu-link__bars:before {
  top: 0; }

.menu-link__bars:after {
  bottom: 0; }

.main {
  background: url("./../img/header_bg.jpg") no-repeat center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .main {
      height: inherit; } }

.content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .about {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .about {
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 2.5rem;
      white-space: inherit;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; } }
  @media screen and (max-width: 375px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 1200px) {
    .right {
      height: 60%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .right {
      font-size: 1.25rem;
      width: 80%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: inherit;
      -webkit-box-pack: normal;
      -ms-flex-pack: normal;
      justify-content: normal; } }
  @media screen and (max-width: 375px) {
    .right {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media screen and (max-width: 1200px) {
  .about__img {
    width: 85%; } }

@media screen and (max-width: 480px) {
  .about__img {
    width: auto;
    max-width: 100%;
    height: auto; } }

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .left {
      width: 80%; } }

.about__description {
  color: #555; }

.title__about {
  font-size: 4.5rem; }
  @media screen and (max-width: 480px) {
    .title__about {
      font-size: 2.8125rem; } }

.services {
  background: url("./../img/bg.jpg") no-repeat center center fixed;
  text-align: center;
  background-size: cover;
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .services {
      -webkit-box-pack: normal;
      -ms-flex-pack: normal;
      justify-content: normal; } }

.services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white; }
  @media screen and (max-width: 1200px) {
    .services__text {
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .services__text {
      margin-top: 1.25rem; } }

.services__text--portfolio {
  color: #555; }

.services__title {
  font-family: Yanone Kaffeesatz;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0; }

.services__subtext {
  width: 50%; }

hr {
  display: block;
  height: 3px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #71c9d6, rgba(255, 255, 255, 0));
  width: 50%;
  position: relative;
  border: none; }

.spisok {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 6.25rem; }
  @media screen and (max-width: 1200px) {
    .spisok {
      width: 95%; } }
  @media screen and (max-width: 480px) {
    .spisok {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 1.25rem;
      margin: 0 auto; } }

.spisok__item {
  width: 15rem;
  margin-right: 3.125rem;
  color: white; }
  @media screen and (max-width: 480px) {
    .spisok__item {
      margin-right: 0;
      margin-top: 1.5625rem;
      width: 80%; } }

.spisok__item:last-child {
  margin-right: 0px; }

.item__img {
  -webkit-filter: invert(1);
  filter: invert(1); }

.spisok__txt {
  text-align: justify; }

@media screen and (max-width: 480px) {
  .services__desription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.875rem; } }

.portfolio {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: inherit; }
  @media screen and (max-width: 1200px) {
    .portfolio {
      height: initial; } }

.site-main--marginleft {
  margin-left: 1.25rem; }

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1.875rem; }
  @media screen and (max-width: 1200px) {
    .offer__list {
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .offer__list {
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 1.5625rem; } }

.offer__item {
  width: 27%;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .offer__item {
      width: 35%; } }
  @media screen and (max-width: 480px) {
    .offer__item {
      width: 80%; } }

.item {
  text-align: center; }

.offer__avatar {
  overflow: hidden;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.offer__avatar--elem {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.offer__avatar--text {
  font-size: 1.5rem;
  line-height: 0.88;
  max-width: 100%;
  letter-spacing: normal;
  text-align: center;
  color: white; }

.overlay {
  visibility: hidden;
  position: absolute; }

.overlay__text {
  color: white;
  font-family: Yanone Kaffeesatz;
  font-weight: 700; }
  @media screen and (max-width: 480px) {
    .overlay__text {
      font-size: 0.9375rem; } }

.offer__avatar:hover .overlay {
  visibility: visible;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #71c9d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .offer__avatar:hover .overlay {
      padding: 0.625rem; } }

.offer__picture {
  margin-bottom: 30px; }

.form {
  background-image: url("./../images/order_bg.jpg");
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__wrapper {
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .form__wrapper {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .form__wrapper {
      margin: auto;
      width: 80%; } }

.form__content {
  margin-top: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1200px) {
    .form__content {
      margin-top: 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin-top: 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__content--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1.25rem;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .form__content--left {
      margin-right: 0rem;
      margin-bottom: 1.25rem; } }
  @media screen and (max-width: 375px) {
    .form__content--left {
      margin-right: 0rem;
      margin-bottom: 0.625rem; } }

.form__content--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.form__raw {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__raw {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__raw:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 480px) {
  .form__raw--adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

.form__label {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left; }
  @media screen and (max-width: 480px) {
    .form__label {
      margin-right: 0px; } }

@media screen and (max-width: 480px) {
  .form__label--flor {
    display: none; } }

@media screen and (max-width: 480px) {
  .form__label--flat {
    margin-right: 0rem; } }

.form__label:last-child {
  margin-right: 0; }

.form__input {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  border: 0.125rem solid transparent;
  background-color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2f3234;
  padding: 0.3125rem 0.3125rem;
  border-radius: 0.3125rem;
  width: 100%;
  height: 2.25rem; }
  @media screen and (max-width: 375px) {
    .form__input {
      height: 1.875rem; } }

.form__input:focus {
  border-color: #71c9d6; }

.form__textarea {
  resize: none;
  height: 6.875rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent; }
  @media screen and (max-width: 375px) {
    .form__textarea {
      height: 5.625rem; } }

.form__radio {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__button {
  text-align: right;
  margin-right: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__button {
      text-align: normal;
      margin-right: 0px; } }

.form__button:last-child {
  margin-right: 0rem; }

.dismiss {
  background-color: transparent; }

.menu--other {
  margin-left: -0.4375rem; }

@media screen and (max-width: 480px) {
  .title--team {
    white-space: inherit; } }

@media screen and (max-width: 375px) {
  .title--team {
    line-height: normal; } }

.footer {
  background-color: white;
  background-size: cover;
  margin: 0 auto;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: Yanone Kaffeesatz;
  font-weight: 400; }
  @media screen and (max-width: 480px) {
    .footer {
      height: auto;
      width: 100%;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media screen and (max-width: 480px) {
  .footer__col {
    width: 100%;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0rem; } }

.footer__col:last-child {
  margin-left: 0rem; }

.footer__address {
  margin-top: 0.5rem; }
  @media screen and (max-width: 480px) {
    .footer__address {
      text-align: center;
      margin-top: 0rem; } }

.footer__phone {
  margin-top: 0.3125rem;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .footer__phone {
      margin-bottom: 0.625rem;
      text-align: center; } }

.footer__phone-icon {
  margin-right: 0.5rem;
  margin-left: 0.1rem;
  width: 0.75rem;
  height: 0.75rem; }

.footer__phone-link {
  color: #555;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 0.875rem; }

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .footer__col_right {
      margin-top: 0rem;
      margin-bottom: 1.3125rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 0.75rem; }

.socials__item:last-child {
  margin-right: 0; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem; }
