.main {
    background: url('./../img/header_bg.jpg') no-repeat center top;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
}

.content {
    align-items: center;
}